$def with(x)
<html>
        <head>
        
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = new google.visualization.DataTable();

        var x = $x;

	
        data.addColumn('number','X');
        
       
        data.addRows(200);

        var i;
        for(i=0;i<200;i+=1){

                
        data.setValue(i, 0, x[i]);
        

        }
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 800, height: 480, title: 'Expeyes'});
      }
    </script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>
        
        <script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("#btn").click(function(){
          jQuery.ajax({url:"/graph",success:function(result){
             jquery("#frame").val(result);
             
          }});
        });});
        </script>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Experiment3</title>
<link href="/static/style2.css" rel="stylesheet" type="text/css" media="screen" />
</head>

  <body>


<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>ExpEyes</h1><br><br><br>
			<p>Experiment for Young Engineers and Scientists</p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
					<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li class="current_page_item"><a href="/experiment5">Experiment</a></li>
			
			<li><a href="/signin">sign in</a></li>
			<li><a href="/signup">Sign up</a></li>

                        <li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page" id="page">

		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						
                                                        
						
                                                         
						<div class="entry">
							
                                                    <h2 class="title"><a href="#">Experiment 5: Ploting a sine wave</a></h2><br><br>    
                                                           
							<p>click the below button to draw a sin wave <p><br>

                                                        

							<button id="btn">click</button><br>

    <div id="chart_div"></div>  


                 
                                                      </p>



						</div>
					</div>
					
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>ExpEyes</h2>
							<p>Experiment for Young engineers and scienitsts</p>
						</li>
						 <li>
							<h2>Experiments</h2>
							<ul>
								<li><a href="/experiment1">Experiment1</a></li>
								<li><a href="/experiment2">Experiment2</a></li>
								<li><a href="/experiment3">Experiment3</a></li>
                                                                <li><a href="/experiment4">Experiment4</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2008 Sreeharikmarar.com All rights reserved. .</p>
</div>
<!-- end #footer -->
  </body>
</html>
