<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Neatness  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100703

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Home</title>
<link href="/static/style2.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>ExpEyes</h1><br><br><br>
			<p>Experiment for Young Engineers and Scientists</p>
		</div>
		<div id="search">
		
			<form method="get" action="">
				<fieldset>
					
					<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>

			<li><a href="/experiment">Experiment</a></li>
			
			<li><a href="/signin">sign in</a></li>
			<li><a href="/signup">Sign up</a></li>

                                  
			<li><a href="/contact">Contact</a></li>
			

		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">About ExpEyes</a></h2><br><br>
						
						<div class="entry">
							<p><img src="/static/images/eyes2.jpg" width="273" height="273" alt="" class="alignleft border" />This is  <strong>ExpEyes</strong>,ExpEYES is from the PHOENIX project of Inter-University Accelerator Centre,New Delhi. It is a hardware & software framework for developing science experiments, demonstrations and projects and learn science and engineering by exploration. Capable of doing real time measurements and analysing the data in  different ways. Analog  voltages, in +/- 5 volts range, are measured with 12 bit resolution (around 1.25 millivolts) and time intervals with one microsecond,</p>
<p>This  project is based on Free and Open Source software, mostly written in Python programming language. The hardware design is also open. A science laboratory at home becomes an affordable idea, with expEYES, costing around Rs.3000/- and the structured design supports adding more experiments without much effort.</p>
<p>The expEYES hardware is interfaced and powered by USB, having a size of 11 x 9 x 1.5 cm and weighs 150 gm. There are 32 terminals arranged in two rows where you can connect external signals, within +/-5 volts range, for control and measurement. It can function as a signal generator, frequency counter and low frequency oscilloscope .  The user manual documents about 50 experiments, that can be done using expEYES and theStandard Accessory set.</p>
<p>ExpEYES hardware consists of an ATmega32 micro-controller, 12 bit ADCs and DACs, several Oscillators and Amplifiers. The micro-controller manages all the hardware resources as per the instructions from a PC. The software running on the PC side is written in Python programming language. It can run on any system having a Python Interpreter and a Python library for communicating to the Serial/USB ports.
        </p>
							
						</div>
					</div>
					
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>ExpEyes</h2>
							<p>Experiment for Young engineers and scienitsts</p>
						</li>
						<li>
							<h2>Menu</h2>
							<ul>
								<li><a href="/about">About</a><li>
								<li><a href="/experiment">Experiment</a></li>
								<li><a href="/signin">Sign in</a></li>
								<li><a href="/signup">Sign up</a></li>
								
								<li><a href="/contact">Contact</a></li><br><br>

								<a href="/experiment"><input type="image" src="static/images/submit.gif" width="48" height="48" /></a>
							</ul>
						</li>




					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2008 Sreeharikmarar.com All rights reserved. .</p>
</div>
<!-- end #footer -->
</body>
</html>
