 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Neatness  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100703

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>success</title>
<link href="/static/style2.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/buttons.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>ExpEyes</h1><br><br><br>
			<p>Experiment for Young Engineers and Scientists</p>
		</div>
		<div id="search">
			<form method="get" action="">
				<fieldset>
					<input type="text" name="s" id="search-text" size="15" value="enter keywords here..." />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
			</form>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li ><a href="/">Home</a></li>
			<li ><a href="/about">About</a></li>

			<li><a href="/experiment">Experiment</a></li>
			
			<li ><a href="/signin">sign in</a></li>
			<li class="current_page_item"><a href="/signup">Sign up</a></li>

                                  
			<li><a href="/contact">Contact</a></li>

		</ul>
	</div>
	<!-- end #menu -->
	<div id="page" id="page">

		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						
                                                        
						
                                                         
						<div class="entry">
							
                                                    <h2 class="title"><a href="#">Registration success</a></h2>
          <h2 class='title'>Your Registration is completed successfully</h2>
          <br>
          <h2 class="title">click here to sign in<h2>
          <br>
          <a href="/signin" role="button" tabindex="1" class="button green">sign in</a>
                                                          
							

						</div>
					</div>
					
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>ExpEyes</h2>
							<p>Experiment for Young engineers and scienitsts</p>
						</li>
						
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2008 Sreeharikmarar.com All rights reserved. .</p>
</div>
<!-- end #footer -->
</body>
</html>
